<div
  class="route-summary"
  [class.route-summary--panel-open]="!panelCollapsed"
  [class.route-summary--panel-closed]="panelCollapsed"
>
  <div class="summary-content">
    <div class="item">
      <span class="item-dot item-dot--origin"></span>
      <span class="label">{{'map.origin' | translate}}</span>
    </div>

    <div class="item">
      <span class="item-dot item-dot--destination"></span>
      <span class="label">{{'routes.destination' | translate}}</span>
    </div>

    <div class="item">
      <span class="item-dot item-dot--stopped"></span>
      <span class="label">{{'routes.stopped' | translate}}</span>
    </div>
  </div>
</div>
