<div
  class="route-details"
  [class.route-details--visible]="visible && route"
  *ngIf="route"
  [class.route-details--panel-open]="!panelCollapsed"
  [class.route-details--panel-closed]="panelCollapsed"
>
  <div class="route-details__panel">
    <div class="route-details__main-section">
      <div class="route-details__header">
        <div class="route-details__title">
          <span class="route-details__label">{{ 'routes.product' | translate}} - </span>
          <img 
            [src]="'assets/icons/fruits/cards/' + (route.productName | lowercase) + '.svg'" 
            [alt]="route.productName"
            class="route-details__icon"
          />
          <p>{{ route.productName }}</p>
        </div>
        <span
          class="route-details__badge"
          [class.route-details__badge--active]="route.status === 'active'"
          [class.route-details__badge--paused]="route.status === 'paused'"
          [class.route-details__badge--planned]="route.status === 'planned'"
          [class.route-details__badge--finished]="route.status === 'finished'"
          [class.route-details__badge--stopped]="route.status === 'stopped'"
        >
          {{ statusLabel || ('routes.' + route.status | translate) }}
        </span>
      </div>

      <div class="route-details__meta">
        <p class="route-details__meta-label">{{ 'map.origin' | translate }}:</p>
        <p class="route-details__meta-text">{{ route.supplier }}</p>
        <p class="route-details__meta-label">{{ 'map.destination' | translate }}:</p>
        <p class="route-details__meta-text">{{ route.destination }}</p>
      </div>

      <div class="route-details__info-list">
        <div class="route-details__item">
          <img src="assets/icons/garage.svg" class="route-details__item-icon" />
          <div class="route-details__item-content">
            <span class="route-details__item-label">{{ 'map.origin' | translate }}</span>
            <span class="route-details__item-field">{{ route.supplier }}</span>
          </div>
        </div>
  
        <div class="route-details__item">
          <img src="assets/icons/calendar.svg" class="route-details__item-icon" />
          <div class="route-details__item-content">
            <span class="route-details__item-label">{{ 'details.date' | translate}}</span>
            <span class="route-details__item-field">{{ route.date }}</span>
          </div>
        </div>
  
        <div class="route-details__item">
          <img src="assets/icons/package.svg" class="route-details__item-icon" />
          <div class="route-details__item-content">
            <span class="route-details__item-label">{{ 'details.detail' | translate }}</span>
            
            <div class="route-details__item-row">
              <span class="route-details__item-field">{{ 'routes.provider' | translate }}:</span>
              <span class="route-details__item-value">{{ route.supplier }}</span>
            </div>
            
            <div class="route-details__item-row">
              <span class="route-details__item-field">{{ 'details.weight' | translate }}:</span>
              <span class="route-details__item-value">{{ route.weight }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <div class="route-details__right">
    <div class="route-details__driver-section">
      <p class="route-details__driver-title">{{ 'details.driver_info' | translate }}</p>
      
      <div class="route-details__driver-info">
        <span class="route-details__driver-label">{{ 'map.driver' | translate }}:</span>
        <span class="route-details__driver-value">{{ route.driverName }}</span>
      </div>
  
      <div class="route-details__driver-info">
        <span class="route-details__driver-label">{{ 'details.phone' | translate }}:</span>
        <a class="route-details__driver-phone" [href]="'tel:' + route.driverPhone">
          {{ route.driverPhone || 'N/D' }}
        </a>
      </div>
    </div>
    <div 
      class="route-details__alert"
      *ngIf="route.status === 'stopped' && route.stoppedSince"
    >
      <div class="route-details__alert-title">
         {{ 'details.inactivity_alert' | translate }}
      </div>
      <div class="route-details__alert-text" *ngIf="isInactiveAlert">
        {{ 'details.inactivity_msg' | translate }}
      </div>
      <div class="route-details__alert-text">
        {{ 'details.stopped_time' | translate }}: <strong>{{ stoppedDuration }}</strong>
      </div>
    </div>
  </div>

    <button class="route-details__close-btn" (click)="close()">✕</button>
  </div>
</div>
