@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}


router-outlet + * {
  animation: routeFadeIn 500ms ease-out forwards;
}

.maplibregl-popup {
  z-index: 1000;
}

.maplibregl-popup-content {
  overflow: visible !important;
}

.maplibregl-map {
  overflow: visible !important;
  height: 100% !important;
}

.maplibregl-canvas-container,
.maplibregl-canvas {
  height: 100% !important;
}

@keyframes routeFadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
    html { font-size: 13px; }
}