@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --primary_color: #306c2d;
}

* {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

inova-nav {
  background-color: #2d5a27;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
    html { font-size: 13px; }
}