<div class="card" [class.selected]="selected" [class.stopped]="isStatus('stopped')" (click)="onCardClick()">
  <div class="card-header">
    <div class="title-group">
      <span class="icon-main">
        <img [src]="fruitIconPath" [alt]="route.load?.load || 'Ruta'" class="papaya-icon" />
      </span>
      <h2 class="card-title">{{ route.load?.load || route.rId }}</h2>
    </div>
    <span 
    class="badge" 
    [class.active]="isStatus('active')" 
    [class.paused]="isStatus('paused')"
    [class.planned]="isStatus('planned')"
    [class.finished]="isStatus('finished')"
    [class.stopped]="isStatus('stopped')"
    >
      {{ statusLabel || ('routes.' + route.status | translate) }} 
    </span>
  </div>

  <div class="card-body">
   <div class="info-row" *ngIf="route.dest">
      <span class="icon-route">
        <img src="assets/icons/route.svg" alt="Ruta" class="route-icon" />
      </span>
      <span class="info-row-dest">{{ route.supplier || '' }} - {{ route.dest.name }}</span>
    </div>

    <div class="info-row split">
      <div class="truck-info" *ngIf="route.plate">
        <span class="icon-truck">
          <img src="assets/icons/truck.svg" alt="Camión" class="truck-icon" />
        </span>
        <span>{{ route.plate }}</span>
      </div>

      <div class="time-info">
        <span class="icon-clock">
          <img src="assets/icons/flag.svg" alt="Tiempo" class="clock-icon" />
        </span>
        <span>{{ formatArrivalTime(route.startTs, route.dest?.estimated_durationS) || formatEstimatedDuration(route.dest?.estimated_durationS) }}</span>
      </div>
    </div>

    <div class="info-row" *ngIf="details && route.load">
      <img src="assets/icons/package.svg" alt="package" class="truck-icon" />
      <div class="info-row-body">
        <p class="info-row-body-title">{{ 'details.detail' | translate }}</p>
        <div class="info-row-body-content" *ngIf="route.supplier">
          <span>{{ 'routes.provider' | translate }}}:</span>
          <p>{{ route.supplier }}</p>
        </div>
        <div class="info-row-body-content">
          <span>{{ 'routes.product' | translate }}:</span>
          <p>{{ route.load.load }}</p>
        </div>
        <div class="info-row-body-content">
          <span>{{ 'details.weight' | translate }}:</span>
          <p>{{ route.load.quantity }} {{ route.load.unit }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="progress-container">
      <div 
      class="progress-bar" 
      [style.width.%]="route.progress || 0"
      [class.active]="isStatus('active')" 
      [class.paused]="isStatus('paused')"
      [class.planned]="isStatus('planned')"
      [class.finished]="isStatus('finished')"
      [class.stopped]="isStatus('stopped')"
      ></div>
    </div>
    <div class="progress-footer">
      <span class="progress-label">{{ route.progress || 0 }}% {{ 'general.completed' | translate }}</span>
      <div class="eta-duration" *ngIf="route.dest?.estimated_durationS">
        <span class="hourglass-icon">
          <img src="assets/icons/clock.svg" alt="package" class="clock-icon" />
        </span>
        <span>{{ formatEstimatedDuration(route.dest?.estimated_durationS) }}</span>
      </div>
    </div>
  </div>

  <button class="see-routes" *ngIf="details" (click)="onViewRoute($event)">{{ 'general.view_route' | translate }}</button>
</div>
